alias ..='cd ../..'
alias ...='cd ../../..'
alias ....='cd ../../../..'
alias ages='make -C ~/src/install ages'
alias cdreal='cd $(readlink -e `pwd`)'
alias co='git number checkout'
alias add2git='add2git --via cpanm'
alias cp='cp -i'
alias d='dict'
alias deb='sudo apt-get'
alias ds='du -sh * | sort -h'
alias ga='git number add'
alias gap='git number add -p'
alias gca='git commit --amend'
alias grc='git rebase --continue'
alias gcv="GIT_EDITOR=\"vim -c 'normal gg/^diffdGgg:bot newP:set ft=diff buftype=nofile nospell:nohlsearch:wincmd k'\" git commit -v"
alias gdc='git number diff --cached'
alias gd='git number diff'
alias ge='git number -c'
alias gl='git list'
alias gn='mgit number --column'
alias grep='grep --color=auto'
alias lrt='ls -lrt'
alias lrtn='(printf "PERM LINKS OWNER GROUP SIZE MONTH DAY " ; printf "HH:MM/YEAR NAME SYMLINK\n" ; ls -lrt | sed 1d) | column -t'
alias ls='ls --color=auto'
alias mgrep='mgit -cp grep'
# When network is down use this:
#alias ls='ls -F'
alias mv='mv -i'
alias rm='rm -i'
alias show='apt-cache show'
alias simplePS='precmd(){};chpwd(){};RPROMPT= PS1="\$ "'
alias ttk='tentakel'
alias vgrep='git grep -Ovi'
alias vl='git number -c vi'
alias zen="zstyle ':vcs_info:*' enable"

alias -g CD='colordiff|less'
alias -g ENV="|tr '\000' '\n'"
alias -g IP="|grep --color=auto -E '^|([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)+'"
alias -g NO='--name-only'
alias -g P='`p`'
alias -g 'P.'='`p -.`'
alias -g V='`vs`'

for cmd in \
	find \
        dpkg \
        vif
do
	alias $cmd="noglob $cmd"
done

which _vim >/dev/null && compdef vi=vim
compdef vih=vimhelp
compdef gn=git
compdef ttk=tentakel

function get_cds_candidates() {
  # cat /dev/shm/*.cwd|grep -v "^$HOME$"|sed -e "s:$HOME/::"|sort -u|grep ${1:-.}
  pgrep zsh|
  while read pid; do
    readlink /proc/$pid/cwd
  done|
  grep -v "^$HOME$"|
  sed -e "s:$HOME/::"|
  sort -u|
  grep ${1:-.}
}

# cdf: do a cd to dirname of $1
function cdf() {
  test -z "$1" && return

  if [ -f "$1" ];
  then
    wanted_path=$1
  else
    files=( `mgit -p ls-files -- "*/$1*"` )
    if [ $#files -eq 1 ]; then
      wanted_path=${files[1]}
    elif [ $#files -gt 1 ]; then
      c=1
      echo "Choose path to cd into: "
      for p in $files; do
        echo "  $c. $p"
        c=$((c + 1))
      done
      echo -n "Choose: "
      read answer therest
      if [ $answer -gt 0 -a $answer -le $#files ]; then
        wanted_path=${files[$answer]}
      fi
    else
      echo "cdf: $files: Not a file"
      return
    fi
  fi
  cd `dirname $wanted_path`
}

function cds() {
  new_dir=`get_cds_candidates $*|head -${2:-1}|tail -1`
  case $new_dir in
    /*) cd "$new_dir";;
    *) cd "$HOME/$new_dir";;
  esac
}

function cn() {
  test -z "$1" && return
  file=`git list $1`
  test -d $file && cd $file && return
  test -f $file && cd $(dirname $file)
}

# cd to a process' PWD
function cdp() {
	local pid=$1
	test -z "$pid" && return
	pwd=`cat /proc/$pid/environ|tr '\000' '\n'|grep '^PWD='|sed -e 's/PWD=//'`
	cd $pwd
}

function u() {
	nup=${1:-1}
	t=''
	for i in {1..$nup}; do
		t="$t../"
	done
	cd $t
}

function go() {
	if [ "$1" = "cd" ]; then
		shift
		cd $(command go list -f '{{.Dir}}' $@ || echo .)
	elif [ "$1" = "doc" ]; then
		shift
		command godoc $@|less
	else
		command go $@
	fi
}

# my godoc is broken :(
#   $ ~/go/bin/godoc os.exec
#   2013/11/15 09:27:37 readTemplate: open /home/nazri/go/lib/godoc/codewalk.html: no such file or directory
#function godoc() {
#	command godoc $@|less
#}

function pickcolor() {
	for theme in `highlight -w|grep -E '^[a-z]+$'`; do
		clear
		godoc -src fmt doPrint|
		highlight -O xterm256 --syntax go --style $theme
		echo $theme
		read ans
	done
}
function gosrc() {
	style=moria
	style=zenburn
	style=anotherdark
	godoc -src $@|
	highlight -O xterm256 --syntax go --style $style
}
function goserve() {
	echo "http://localhost:6060/"
	godoc -http=:6060 -index -notes="BUG|TODO|FIXME"
}
