alias ..='cd ../..'
alias ...='cd ../../..'
alias ....='cd ../../../..'
alias co='git number checkout'
alias add2git='add2git --via cpanm'
alias cp='cp -i'
alias deb='sudo apt-get'
alias ds='du -s * | sort -n'
alias ga='git number add'
alias gap='git number add -p'
alias gca='git commit --amend'
alias grc='git rebase --continue'
alias gcv="GIT_EDITOR=\"vim -c 'normal gg/^diffdGgg:bot newP:set ft=diff buftype=nofile nospell:nohlsearch:wincmd k'\" git commit -v"
alias gdc='git number diff --cached'
alias gd='git number diff'
alias ge='git number -c'
alias gn='git number'
alias grep='grep --color=auto'
alias lrt='ls -lrt'
alias ls='ls --color=auto'
alias mv='mv -i'
alias rm='rm -i'
alias show='apt-cache show'
alias ttk='tentakel'
alias u='cd ..'
alias vl='git number -c vi'
alias zen="zstyle ':vcs_info:*' enable"

alias -g CD='colordiff|less'
alias -g ENV="|tr '\000' '\n'"
alias -g NO='--name-only'
alias -g P='`p`'
alias -g 'P.'='`p -.`'

for cmd in \
	find \
        dpkg \
        vif
do
	alias $cmd="noglob $cmd"
done

compdef vi=vim
compdef gn=git
compdef ttk=tentakel
