alias co='git number checkout'
alias cp='cp -i'
alias deb='sudo apt-get'
alias ds='du -s * | sort -n'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias ga='git number add'
alias gap='git number add -p'
alias gca='git commit --amend'
alias gcv="GIT_EDITOR=\"vim -c 'normal gg/^diffdGgg:bot newP:set ft=diff buftype=nofile nospell:nohlsearch:wincmd k'\" git commit -v"
alias gdc='git number diff --cached'
alias gd='git number diff'
alias ge='git number -c'
alias gn='git number'
alias -g P='`p`'
alias grep='grep --color=auto'
alias lrt='ls -lrt'
alias ls='ls --color'
alias mv='mv -i'
alias rm='rm -i'
alias show='apt-cache show'
alias u='cd ..'
alias vl='git number -c vi'

for cmd in \
	find
do
	alias $cmd='noglob find'
done
