TermsMatcher() {
  local matches
  exclude="^${PREFIX:gs/\*/\\*/}\$"
  PREFIX="*$PREFIX"
  matches=(`termsmatch -a -- "${PREFIX:gs/\*/.*/}"|grep -v $exclude`)
  compadd -- $matches
}
zle -C terms-matcher expand-or-complete TermsMatcher
bindkey '' terms-matcher

TermsFileMatcher() {
  local matches
  exclude="^${PREFIX:gs/\*/\\*/}\$"
  PREFIX="*$PREFIX"
  matches=(`termsmatch -a -/ -- "${PREFIX:gs/\*/.*/}"|grep -v $exclude`)
  compadd -Q -- $matches
}
zle -C terms-file-matcher expand-or-complete TermsFileMatcher
bindkey '' terms-file-matcher

HistoryTermMatcher() {
  local matches
  matches=(`fc -l -m "*${PREFIX}*" -500|sed -e 's/^[0-9]\+//'`)
  compadd -- $matches
}
zle -C history-terms-matcher expand-or-complete HistoryTermMatcher
bindkey '' history-terms-matcher

ClipboardTermMatcher() {
  local matches
  matches=(`xclip -o`)
  compadd -- $matches
}
zle -C clipboard-terms-matcher expand-or-complete ClipboardTermMatcher
bindkey '' clipboard-terms-matcher

compe() {
  vi `find -L ~/.shell -name "_$1"`
}
