LF='
'
function csearch() {
  command csearch $@ | command less
}

findfile_usage() {
    echo "Usage: findfile [-i] <filename pattern>
    -d   Change to directory of the matching file
    -e   Open the matching file in \$EDITOR
    -h   Show this help message
    -i   Interactive mode"
}

findfile() {
  interactive=
  oneshot=
  while getopts ideh opt
  do
    case "$opt" in
      d) oneshot=d;;
      e) oneshot=e;;
      h) usage ; return 1;;
      i) interactive=t;;
      \?) echo Unknown option ; return 1;;
    esac
  done
  shift $(($OPTIND -1))

  if [ -n "$oneshot" ]; then
    file=$(csearch -f "$1" -l .)
    case "$file" in
      *$LF*)
        interactive=t
        ;;
      *)
        case "$oneshot" in
          d)
            cd $(dirname $file)
            return 0
            ;;
          e)
            $EDITOR $file
            ;;
        esac
    esac
  fi

  if [ -n "$interactive" ]; then
    csearch -f "$1" -l . | cat -n
    echo "Action: Go to[d]ir, [e]dit"
    #read -p "Action ([de][0-9]): " input
    read "input?Action ([de][0-9]): "
    input=$(echo $input|tr -d ' ')
    action=${input%%[0-9]}
    n=${input##[a-z]}
    file=$(csearch -f "$1" -l . | sed -n "${n}p")
    case "$action" in
      d)
        echo cd $(dirname "$file")
        cd $(dirname "$file")
        ;;
      e)
        echo $EDITOR "$file"
        $EDITOR "$file"
        ;;
      *) echo "Don't know what to do for \"$input\""
        ;;
    esac
  else
    csearch -f "$1" -l .
  fi
}
