if [ -z "$LESS_DONE" ]; then
  export LESS=-FRX
  export LESS_TERMCAP_mb=$(tput setaf 2) # green
  export LESS_TERMCAP_md=$(tput setaf 2) # cyan
  export LESS_TERMCAP_me=$(tput sgr0)
  export LESS_TERMCAP_so=$(tput setaf 0; tput setab 4) # black on blue, no bold (tput bold)
  export LESS_TERMCAP_se=$(tput rmso; tput sgr0)
if [ "$BG" = "white" ]; then
  export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 0) # gray
else
  export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 7) # white
fi
  export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
  export LESS_TERMCAP_mr=$(tput rev)
  export LESS_TERMCAP_mh=$(tput dim)
  export LESS_TERMCAP_ZN=$(tput ssubm)
  export LESS_TERMCAP_ZV=$(tput rsubm)
  export LESS_TERMCAP_ZO=$(tput ssupm)
  export LESS_TERMCAP_ZW=$(tput rsupm)
  export LESS_DONE=yes
fi
