# Make git log HEAD^ works:
unsetopt extended_glob

setopt hist_ignore_all_dups
setopt hist_ignore_space
setopt hist_no_store
setopt glob_complete
setopt inc_append_history

# complete_aliases:
# Prevents aliases on the command line from being internally  sub‐
# stituted  before completion is attempted.  The effect is to make
# the alias a distinct command for completion purposes
setopt no_complete_aliases
