# Careful, tthis file is also sourced by bash
if [ -z "$PATH_DONE" ]; then
prepend_path() {
  if [ -d $1 ]; then
    PATH=$1:$PATH
  fi
}

dedup_path() {
  declare -A seen
  P=DELETE
  for p in ${(s,:,)PATH}; do
    if [ -z "${seen[$p]}" ]; then
      seen[$p]=1
      P=$P:$p
    fi
  done
  PATH=${P#DELETE:}
}

if [ -n "$GOPATH" ]; then
  prepend_path $GOPATH/bin
fi
# ~/Go is symlink to $GOROOT in use
prepend_path $HOME/Go/bin
prepend_path $HOME/bin
if [ -n "$ZSH_VERSION" ]; then
  dedup_path
fi
test -d ~/.$HOST.local/bin && PATH=~/.$HOST.local/bin:$PATH
test -d ~/.cargo && PATH=~/.cargo/bin:$PATH

export PATH

# compile go:
# $ hg clone -u release https://code.google.com/p/go
# $ cd go/src && ./all.bash
  export PATH_DONE=yes
fi
