# Careful, tthis file is also sourced by bash
prepend_path() {
  if [ -d $1 ]; then
    PATH=$1:$PATH
  fi
}

dedup_path() {
  declare -A seen
  P=DELETE
  for p in ${(s,:,)PATH}; do
    if [ -z "${seen[$p]}" ]; then
      seen[$p]=1
      P=$P:$p
    fi
  done
  PATH=${P#DELETE:}
}

if [ -n "$GOPATH" ]; then
  prepend_path $GOPATH/bin
fi
prepend_path $HOME/go/bin
prepend_path $HOME/bin
if [ -n "$ZSH_VERSION" ]; then
  dedup_path
fi
export PATH

# compile go:
# $ hg clone -u release https://code.google.com/p/go
# $ cd go/src && ./all.bash
