# xterms.rc: Use in tandem with wmgr
export TERM=xterm-256color
export HISTFILE=~/.histfile
stty -ixon
tmpdir=/dev/shm
if [ -n "$TERM_NAME" ]; then
  winidfile=$tmpdir/term.$TERM_NAME[1].winid
  if [ ! -f $winidfile ]; then
    echo $WINDOWID > $winidfile
  fi
  export HISTFILE=~/.histfile.$TERM_NAME
fi
